Questions:

A) Numpy

Consider the code below:

In [1]:
import numpy as np
np.random.seed(123)

In [2]:
random_int = np.random.randint(1,high=1000,size=(20,5))
random_int

array([[511, 366, 383, 323, 989],
       [ 99, 743,  18, 596, 107],
       [124, 570, 215, 738,  97],
       [114, 639,  48,  74, 545],
       [943, 225, 112, 410, 340],
       [847, 254, 421, 609, 209],
       [ 69, 818, 824, 452,   3],
       [341,  40, 323, 597, 560],
       [505, 958, 177, 136, 874],
       [100, 381, 861, 181, 359],
       [866, 214, 631, 863, 412],
       [291, 994, 589, 681, 900],
       [107, 838, 577, 844, 419],
       [827, 395, 791, 718, 147],
       [485, 272, 412, 766, 159],
       [181, 583, 366, 372, 155],
       [721, 391, 783, 256, 245],
       [360, 972, 951, 968, 130],
       [556, 187, 358, 696, 538],
       [435, 981, 825, 306, 781]])

Qn 1) What is the average value of the first 5 rows ( 2 decimal place) ?

In [3]:
avg_5_rows = round(random_int[:5].mean(),2)
avg_5_rows

373.16

Qn 2) What is the average value of the second element in each of the list (2 decimal places)?

In [4]:
second_element = [random_int[i][1] for i in range(20)]
second_element_arr = np.array(second_element)
second_element_avg = round(second_element_arr.mean(),2)
second_element_avg

541.05

B) Pandas:<br>
Get the mtcars data using the following code:

In [5]:
import pandas as pd    
data = pd.read_html("https://gist.github.com/seankross/a412dfbd88b3db70b74b")
data
mtcars_df = data[0]
mtcars_df

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,NaN,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,NaN,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,NaN,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,NaN,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,NaN,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,NaN,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,NaN,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,NaN,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,NaN,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,NaN,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,NaN,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,NaN,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,NaN,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,NaN,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,NaN,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,NaN,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,NaN,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,NaN,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,NaN,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,NaN,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,NaN,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,NaN,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,NaN,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,NaN,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,NaN,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,NaN,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,NaN,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,NaN,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,NaN,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,NaN,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,NaN,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,NaN,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
#check data types
mtcars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   model       32 non-null     object
 2   mpg         32 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        32 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(6), int64(6), object(1)
memory usage: 3.4+ KB

Qn 3) Get the name of the car(s) with highest power to displacement ratio

In [7]:
high_power_disp_ratio = max(mtcars_df['hp']/mtcars_df['disp'])
high_power_disp_ratio

1.206896551724138

Qn 4) How many cars have 4 cylinder and 4 gears?

In [8]:
mtcars_cyl_gear = mtcars_df[(mtcars_df['cyl'] == 4) & (mtcars_df['gear'] == 4)]
len(mtcars_cyl_gear)

8

C) Strings:

Q5) Write a python program to count the number occurrences of all vowels present in a string.

In [9]:
def countvow(s):
    cnt = 0
    v = "aeiouAEIOU" #both lower and upper cases
    for l in s:
        if l in v:
            cnt+=1
    return cnt

In [10]:
countvow("I am Karthik")

4

In [11]:
countvow("I am practising python programming daily")

11